.businessList {
    width: 900px;
    max-width: 100%;
    font-size: .9em;
    margin:2rem auto;
    box-sizing: border-box;
    display:grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    grid-gap: 2rem;
}

.businessList h2 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.businessList h2 a {
    color: unset;
    text-decoration: none;
}

.business {
    box-sizing: border-box;
    margin-top: 1em;
}

.businessImage {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.details {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.details p {
    text-align: left;
}

.category {
    font-weight:bold;
    color: darkgoldenrod;
    text-transform: uppercase;
}

.rating {
    color: darkgoldenrod;
}